*{
    box-sizing: border-box;
}

.body{
    margin: 0;
}


input{
    display: block;
    margin-bottom: 15px;
    height: 30px;
    border: 1px solid #444;
    border-radius: 5px;
    text-indent: 10px;
}

textarea{
    display: block;
    margin-bottom: 15px;
    height: 30px;
    border: 1px solid #444;
    border-radius: 5px;
    
}