*{
    box-sizing: border-box;
}

.body{
    margin: 0;
}


input{
    display: inline;
    margin-bottom: 15px;
    margin-right: 10px;
    border: 1px solid #444;
    border-radius: 5px;
}

textarea{
    display: block;
    margin-bottom: 15px;
    height: 30px;
    border: 1px solid #444;
    border-radius: 5px;
    
}

label {
    font-size: 18px;
    color: #333;
    margin: 0;
    text-align: right;
   }
